---
layout: page
title: "About"
description: "你是我的梦想"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

{% if site.valine_comment.enable %}
<!-- Valine 无后端评论系统 start (一个网页只需插入一次) -->
{% include third-party/comments/valine.html %}
<!-- Valine 无后端评论系统 公共JS代码 end -->
{% endif %}
